@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --text-color: #00aa00;  
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
}

h1{
    color: var(--text-color);
    font-size: 50px;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

h2{
    color: var(--text-color);
    font-size: 30px;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 10px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

ul{
    list-style: none;
}
nav{
    width: 35%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    color: var(--text-color);
    cursor: pointer;
}

.container{
    max-width: 600px;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}

.wb-body {
    background: #111;
    padding: 20px;
}

.cursor{
    font-weight: 700;
    animation: 1s blink step-end infinite;
}

@keyframes blink{
    from, to{
	color: transparent;
    }
    50% {
	color: var(--text-color);
    }
}
